page-home {
    #custom-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100000;
        width:100%;
        background-color: #002a3e;
      }
      
      .flb {
        background-color: #fafafa;
        height:100%;
        width:100%;
        animation: pulse 1s linear forwards;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .Aligner-item {
        max-width: 50%;
      }
      .Aligner-item--top {
        align-self: flex-start;
      }
      .Aligner-item--bottom {
        align-self: flex-end;
      }
      #custom-overlay img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        animation: animation 3100ms linear infinite both;
        animation-delay: 1s;
      }
      @keyframes pulse {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      .card-md {
        border-radius: 10px;
        box-shadow: 0 1.4px 3px 0 #eee1ec, 0 3px 1px -2px #f1aff3, 0 1px 1px 0 #ec98c9 !important;
    }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
    }
    .fadeIn {
      animation-name: fadeIn;
      animation-duration: 2s;
    }
}
